.destination-item {
  list-style-type: none;
  width: 235px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 32px;
}
.destination-img {
  height: 130px;
  width: 200px;
}
.destination-name {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .destination-name {
    font-size: 20px;
  }
}
